<!DOCTYPE html>
<html lang="pt-br"> <!--tradução-->
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/css/estilo.css">
  <title>Document</title>
  
</head>
<body>
 
  <div class="component1" > 
  <img  class="imagemum" src="../../assets/fotoperfil.jpg" alt="Minha imagem">
  <div class="component2">
    <h1 class="textStyle1"> Name: Yuuya Okatani </h1>
    <h1 class="textStyle1"> Birthdate: 25/08/2005</h1>
    <h1 class="textStyle1"> Experience: </h1>
    <h1 class="textStyle2">    - Artisan LA, Web Developer (WordPress) (September - December 2023)
    </h1>
    <h1 class="textStyle2">    - Freelancer (January 2024 - currently) </h1>


  </div>

  </div>


  <div class="textStyle3">
    <h1>
      <p>
        Meus melhores projetos
      </p>
    </h1>
  </div>



    
    
    <div class="component4">
      <h1>
        <p style="color: azure; font-family: Arial, Helvetica, sans-serif;">
          Name: TaskBuddy
        </p>
        <h2 style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;  color: azure; word-wrap: break-word; width: 100%;">
         
            <p style="width: 60%;">
            Language: React Native Expo
            Database: Firebase Firestore, Firebase Storage, Firebase Auth
            </p>
            <p>
              Objective: To help hire people or be hired.
            </p>
            <p>
              link:
              <a href="https://github.com/MrFlinck/TaskBuddyMobile.git">
                https://github.com/MrFlinck/TaskBuddyMobile.git
             </a>
            </p>
            
          
        </h2>
        
      </h1>
      
      



    </div>
    
    <div class="component5">
      <h1>
        <p style="color: azure; font-family: Arial, Helvetica, sans-serif;">
          Name: ContabMaster
        </p>
        <h2 style="font-size: 18px; font-family: Arial, Helvetica, sans-serif;  color: azure; word-wrap: break-word; ">
         
            <p style="width: 50%;">
              Language: Python 3.11
              Database: mongoDB
            </p>
            <p>
              Objective: To help accountants to register taxes.
            </p>
            <p>
              link: 
              <a href="https://github.com/MrFlinck/ContabMaster1.1.git">
                https://github.com/MrFlinck/ContabMaster1.1.git
             </a>
            </p>

          
        </h2>
        
        
      </h1>
  
    </div>

    <div class="textStyle4">
      <h1>
        <p>
          Contacts
          
        </p>
        <a href="https://github.com/MrFlinck">
          <img style="height: 150px; width: 150px; top: 90%; background-color: white; border-radius: 100%;" src="../../assets/github.png" >
          </a>

          <a href="https://www.linkedin.com/in/yuuya-okatani-0575622a4/">
            <img style="height: 150px; width: 150px; top: 90%; background-color: white; border-radius: 100%;" src="../../assets/linkedin.png" >
            </a>
        

        


      </h1>
      
      


    </div>
    


 
  

</body>
</html>


