<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/estilo.css">
    <title>Document2</title>
</head>
<body>
    <div class="component3">
        
        
        
        <h1>
            <input class="input1" placeholder="digite um número">

        </h1>
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/css/estilo.css">
    <title>Document2</title>
</head>
<body>
    <div class="component3">
        <div>

            <h1>
                <input class="input1" placeholder="digite um número">
    
            </h1>
            <h1>
                <input class="input1" placeholder="digite um número">
    
            </h1>
            <h1>
                <input class="input1" placeholder="digite um número">
    
            </h1>
        </div>
        
        
        
        
       
        
        

    </div>
    
    
</body>
</html>
       
        
        

    </div>
    
    
</body>
</html>